<a class="btn lobby-icon-btn" href="#/activity">
    <i class="fa fa-arrow-left lobby-menu"></i>
</a>

<div ng-controller="activityDetailsController" class="scrollable">
    <div class="scrollable-content">

        <div class="lobby-activity-carousel" style="height:0;padding-bottom: 80%;overflow: hidden">
            <!--<ul rn-carousel class="image" rn-carousel-index="imgIndex" rn-carousel-auto-slide-->
                <!--rn-carousel-controls-allow-loop rn-carousel-easing rn-carousel-buffered-->
                <!--style="padding-bottom: 100%">-->
                <!--<li ng-repeat="img in imgList">-->
                    <!--<img ng-src="{{img}}" img-load-auto-size class="auto-ver"/>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<div rn-carousel-index="imgIndex" rn-carousel-indicators ng-if="imgList.length > 1" slides="imgList"></div>-->

            <div id="slider" class="slider">
                <div class="mySlideClassName" ng-repeat="img in imgList" style="width: 100%">
                    <img data-ng-src="{{ img }}" alt="" style="width: 100%;display: block;"/>
                </div>
            </div>
        </div>
        <div class="lobby-activity-box">
            <div class="row row-1">
                    <table width="100%">
                        <tr>
                            <td width="50%">
                                <p class="lobby-name" style="text-align: center;font-size: 18px;margin-bottom: 0;font-weight: bold;">{{actInfo.commName}}</p>

                                <p class="lobby-activity-name" style="text-align: center;font-size: 18px;">{{actInfo.actName}}</p>

                            </td>
                            <td width="50%">
                                <a class="btn btn-info btn-block btn-lg"  ng-click="joinActivity(actId)">
                                    <i class="fa fa-sign-in"></i> 立即报名
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="lobby-full-name clearfix" style="margin-top: 5px;font-size: 14px;position: relative" ng-click="showLocation(actInfo.latitude,actInfo.longitude,actInfo.commName)">
                                    <i class="fa fa-map-marker"></i>{{actInfo.location}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="40%">
                                <div class="lobby-concat" style="margin-top: 10px;font-size: 14px;">
                                    <a href="tel:{{actInfo.phone_number_of_activity_leader}}" style="color: #333;">
                                        <i class="fa fa-phone fa-flip-horizontal"></i>{{actInfo.concatName}}<br>{{actInfo.phone_number_of_activity_leader}}
                                    </a>
                                </div>
                                <div class="lobby-concat" style="font-size: 14px;">
                                <a href="tel:{{actInfo.phone_number_of_activity_leader}}" style="color: #333;">
                                    <i class="fa fa-phone fa-flip-horizontal"></i>活动联系人<br>{{'0755-82557812'||actInfo.phone_number_of_activity_leader}}
                                </a>
                                </div>
                            </td>
                            <td width="60%" >
                                <p class="lobby-activity-details" style="margin-top: 20px;font-size: 14px;position: relative;">
                                    活动时间: <br> <select class="form-control" ng-model="start_time"  ng-options="option.name for option in startTimeList track by option.value" style="padding-left:0;padding-right:0; " ng-change="changStartTime()"></select> <br>
                                    活动费用: {{actInfo.price==0?'免费':actInfo.price+'元'}}
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>


            <div class="row">
                <div class="col-xs-12 clearfix" style="margin: 20px auto;">
                    <div class="lobby-desc-item">
                        <i class="fa fa-clock-o"></i>
                        {{actInfo.lastTime}}
                    </div>
                    <div class="lobby-desc-item">
                        <i class="fa fa-users"></i>
                        {{actInfo.num}}
                    </div>
                    <div class="lobby-desc-item">
                        <i class="fa fa-user"></i>
                        {{actInfo.age}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="font-size: 16px;
    line-height: 1.5;" ng-bind-html="actInfo.ctx">

                </div>
            </div>
        </div>
    </div>
    <p style="text-align: center">联系乐比 客服专线:0755-82557821</p>
</div>
<div ui-content-for="modals">
    <div ng-include="'modal2.html'"></div>
</div>