<a class="btn lobby-icon-btn" href="#/community/list">
    <i class="fa fa-arrow-left lobby-menu"></i>
</a>

<div class="scrollable community-view" ng-controller="communityDetailsController">
    <div class="scrollable-content">

        <div class="lobby-activity-carousel" style="height:0;padding-bottom: 50%;overflow: hidden">
            <!--<img src="images/t1.jpg">-->

            <ul rn-carousel class="image" rn-carousel-index="imgIndex" rn-carousel-auto-slide
                rn-carousel-controls-allow-loop  rn-carousel-buffered
                style="padding-bottom: 50%">
                <li ng-repeat="img in imgList">
                    <img ng-src="{{img}}"/>
                </li>
            </ul>
            <div rn-carousel-index="imgIndex" rn-carousel-indicators ng-if="imgList.length > 1" slides="imgList"></div>
        </div>
        <div class="lobby-community-box">
            <div class="row">
                <div class="col-xs-12">
                    <p class="lobby-name" style="font-size: 18px;margin-bottom: 0;font-weight: bold;">{{name}}</p>

                    <div class="lobby-full-name clearfix" style="margin-top: 18px;position: relative" ng-click="showLocation(longitude,latitude,address,introduce)">
                        <i class="fa fa-map-marker"></i> {{address}}
                    </div>
                    <div class="lobby-concat" style="margin-top: 10px;">
                        <a href="tel:{{phone}}" style="color: #333;"><i class="fa fa-phone" style="
    transform: rotateY(180deg);"></i> {{name_of_community_leader}}-{{phone}}</a>
                    </div>
                    <div style="margin-top: 8px;">
                        <i class="fa fa-clock-o"
                           style="background: none;border: 0; color: #e98023;font-size: 24px;position: relative;top: 3px;"></i>
                        开放时间: {{opening_time}}至{{closeing_time}}
                    </div>
                </div>
            </div>
            <div class="c-item" >
                <h3>最新活动</h3>
                <p ng-hide="actList.length>0" style="margin-left: 30px;">即将开放,敬请期待!</p>
                <div class="c-item-box" ng-if="actList.length>0">

                    <ul ng-style="cItemBoxUlStyle1">
                        <li ng-repeat="act in actList" ng-style="cItemBoxLiStyle">
                            <a ng-href="/#/activity/{{act.id}}">
                                <div class="img-box" ng-style="imgBoxStyle">
                                <img ng-src="{{act.icon_url}}">
                                </div>
                                <p><span class="c-item-act-name">{{act.name}}</span>{{act.start_time}} </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="c-item" >
                <h3>社区项目</h3>
                <p ng-hide="projectList.length>0" style="margin-left: 30px;">即将开放,敬请期待!</p>
                <div class="c-item-box" ng-if="projectList.length>0">

                    <ul ng-style="cItemBoxUlStyle2">
                        <li ng-repeat="act in projectList" ng-style="cItemBoxLiStyle">
                            <a ng-href="{{act.link}}/{{act.id}}">
                                <div class="img-box" ng-style="imgBoxStyle">
                                    <img ng-src="{{act.img}}">
                                </div>
                                <p><span class="c-item-act-name">{{act.name}}</span></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div ng-include="'modal1.html'"></div>
    <div ng-include="'modal2.html'"></div>
</div>