<div ui-toggle="uiSidebarLeft" class="btn lobby-icon-btn">
    <i class="fa fa-bars lobby-menu"></i>
</div>

<section class="scrollable" ng-controller="activityController">
    <div class="scrollable-content lobby-activity-content">
        <ul class="list-group lobby-activity-list">
            <!--<li ng-repeat="l in list" class="list-group-item" ng-click="toggleS()">{{l}}</li>-->
            <li ng-repeat="act in actList" ng-click="goToDetails(act.id)">
                <img ng-src="{{act.icon_url}}" width="100%">

                <p>{{act.name}}</p>
            </li>
        </ul>
        <p style="text-align: center;">网站备案号:<a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备16029734号-1</a></p>
    </div>
</section>
