<div class="lobby-mall" ng-controller="mallController">
    <div class="scrollable community-view"  style="background: #fff;">
        <div class="scrollable-content">
            <div class="lobby-mall-header">
                <div ui-toggle="uiSidebarLeft" class="btn lobby-icon-btn" style="top: 10px;">
                    <i class="fa fa-bars lobby-menu"></i>
                </div>
                <div ui-toggle="uiSidebarRight" class="btn lobby-icon-btn" style="top: 10px;right: 0">
                    <i class="fa fa-user lobby-menu" style="position: absolute;right: 10px;left:auto;"></i>
                </div>
                <!--<h1>LOBI MALL</h1>-->

                <div class="lobby-mall-search" style="width: 85%;margin: auto;margin-top: 5px;">
                    <input type="text" class="form-control" placeholder="商品名称" ng-model="keyword" ng-keyup="searchKeyUp($event)" style="height:30px;">
                    <span class="fa fa-search" ng-click="searchProduct(keyword)"></span>
                </div>
                <p class="lobby-mall-menu" ng-click="isMenuShow=!isMenuShow">分类目录<i
                        ng-class="{fa:true, 'fa-play':true,'fa-fw':true, 'fa-rotate-90':!isMenuShow,'fa-rotate-270':isMenuShow}"></i>
                </p>

                <div class="dropdown-menu lobby-list-menu" ng-show="isMenuShow">
                    <ul class="header">
                        <!--<li ng-click="menuIndex=1" ng-class="{active:menuIndex==1}">创客空间</li>-->
                        <!--<li ng-click="menuIndex=2" ng-class="{active:menuIndex==2}">有机生活</li>-->
                        <!--<li ng-click="menuIndex=3" ng-class="{active:menuIndex==3}">家庭健康</li>-->

                        <li ng-click="changeMenuIndex(cate.index)" ng-class="{active:menuIndex==cate.index}" ng-repeat="cate in categories">{{cate.name}}</li>

                    </ul>
                    <ul class="content" ng-show="menuIndex==cate.index" ng-repeat="cate in categories">
                        <li ng-repeat="cc in cate.children"><a href="#/mall/product/list?lv_class={{cc.name}}">{{cc.name}}</a></li>
                    </ul>
                </div>
            </div>

            <div class="lobby-activity-carousel"
                 style="height:0;padding-bottom: 50%;overflow: hidden;margin-top: 4px;: ">
                <ul rn-carousel class="image" rn-carousel-index="imgIndex" rn-carousel-controls-allow-loop style="padding-bottom: 50%">
                    <li ng-repeat="img in imgList">
                        <a href="#/mall/details/{{img.Product_id}}"><img ng-src="{{img.banner_img}}"/></a>
                    </li>
                </ul>
                <div rn-carousel-index="imgIndex" rn-carousel-indicators ng-if="imgList.length > 1" slides="imgList"></div>
            </div>
            <div class="lobby-community-box">
                <div class="c-item" ng-repeat="(cate,productList) in productObj">
                    <h3>{{cate}}</h3>
                    <div class="c-item-box">
                        <ul ng-style="getMItemBoxUlStyle(productList.len)">
                            <li ng-repeat="good in productList.list" ng-style="mItemBoxLiStyle" class="mall-show-list">
                                <a ng-href="#/mall/details/{{good.id}}">
                                    <div class="img-box" ng-style="mImgBoxStyle">
                                        <img ng-src="{{good.icon_url}}">
                                        <p>{{good.name}}</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>