<div class="lobby-mall-details">
    <a class="btn lobby-icon-btn" href="#/mall">
        <i class="fa fa-arrow-left lobby-menu"></i>
    </a>
    <a class="btn lobby-icon-btn fixed-right" href="#/mall/shopcart">
        <i class="fa fa-shopping-cart lobby-menu"></i>
    </a>

    <div class="scrollable community-view" ng-controller="mallDetailsController">
        <div class="scrollable-content">
            <div class="lobby-activity-carousel" style="height:0;padding-bottom: 50%;overflow: hidden">

                <ul rn-carousel class="image" rn-carousel-index="imgIndex" rn-carousel-auto-slide
                    rn-carousel-transition="hexagon" rn-carousel-controls-allow-loop rn-carousel-easing
                    rn-carousel-buffered
                    style="padding-bottom: 50%">
                    <li ng-repeat="img in imgList">
                        <img ng-src="{{img}}"/>
                    </li>
                </ul>
                <div rn-carousel-index="imgIndex" rn-carousel-indicators ng-if="imgList.length > 1"
                     slides="imgList"></div>
            </div>
            <div class="lobby-mall-details-box">
                <div class="row">
                    <div class="col-xs-12">
                        <div  style="font-size: 20px;margin-bottom: 0;font-weight: bold;">20px 教育机器人 蓝牙家庭版 2.4G教学</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 number-box">
                        <div style="font-size: 16px;margin-bottom: 12px;">
                            16px数量<i class="fa fa-minus-square-o fa-fw" ng-click="minusGoodNum()"></i><input type="tel" class="form-control input-sm" style="    width: 26%;
    display: inline-block;
    text-align: center;
    height: 24px;
    line-height: 24px;
    padding: 0;" ng-model="buyNum"><i class="fa fa-plus-square-o fa-fw" ng-click="addGoodNum()"></i>
                        </div>
                        <a class="btn btn-block btn-yellow-f"><i class="fa fa-plus fa-fw"></i>放进购物车14px</a>
                    </div>
                    <div class="col-xs-6">
                        <div>16px预计发货时间:<br>2016年5月1日</div>
                        <a class="btn btn-block btn-yellow" ng-href="#/mall/shopcart"><i class="fa fa-shopping-bag fa-fw"></i>立即购买 </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3>18px产品描述</h3>
                        <p>14px 真是一段彩票描述啊啊啊啊哈哈哈哈大领导及分类考试了空间分离机真是一段彩票描述啊啊啊啊哈哈哈哈大领导及分类考试了空间分离机真是一段彩票描述啊啊啊啊哈哈哈哈大领导及分类考试了空间分离机真是一段彩票描述啊啊啊啊哈哈哈哈大领导及分类考试了空间分离机真是一段彩票描述啊啊啊啊哈哈哈哈大领导及分类考试了空间分离机</p>
                        <h3>产品参数(产品详情)</h3>
                        <table>
                            <tr>
                                <td>产地</td><td>非洲大陆马达加斯加</td>
                            </tr>
                            <tr>
                                <td>产地</td><td>非洲大陆马达加斯加</td>
                            </tr>
                            <tr>
                                <td>产地</td><td>非洲大陆马达加斯加</td>
                            </tr>
                            <tr>
                                <td>产地</td><td>非洲大陆马达加斯加</td>
                            </tr>
                            <tr>
                                <td>产地</td><td>非洲大陆马达加斯加</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>