<div ng-click="back()" class="btn lobby-icon-btn">
    <i class="fa fa-arrow-left lobby-menu"></i>
</div>

<div class="lobby-mall-address" ng-controller="mallOrderListController">


    <div class="lobby-mall-details-header" style="z-index: 66;
    position: relative;background: #fff;">全部订单
    </div>

    <div class="scrollable order-list-view">
        <div class="scrollable-content" style="padding-bottom: 50px;">
            <div class="row" ng-repeat="order in orderList">
                <div class="col-xs-12">
                    <a class="content" ng-href="#/mall/order/details/{{order.order_id}}?order_state={{order.order_state}}">
                        <div class="i-box">
                            <img ng-src="{{order.icon_url}}" img-load-auto-size>
                        </div>
                        <div class="desc">
                            <p class="name">{{order.product_name}}</p>
                            <p class="date">{{order.order_date}}</p>
                            <p class="price"><i class="fa fa-cny"></i>{{order.total_price}} </p>
                        </div>
                        <span class="num">X{{order.buy_number}}</span>
                    </a>

                    <div class="bottom">
                        <span class="pull-left">{{order.state}}</span>
                        <span class="pull-right">
                            <!--<a class="btn btn-yellow-f btn-sm" ng-if="order.order_state==4">退换货</a>-->
                              <a class="btn btn-yellow-f btn-sm" ng-if="order.order_state==1" ng-click="cancelOrder(order.order_id)">取消订单</a>
                            <a class="btn btn-yellow btn-sm" ng-if="order.order_state==1" ng-click="gotoPay(order.order_id)">去付款</a>
                            <a class="btn btn-yellow btn-sm" ng-if="order.order_state==5" ng-click="confirm(order.order_id)">确认收货</a>
                            <a class="btn btn-yellow-f btn-sm" ng-if="order.order_state==2||order.order_state==4" ng-href="#/mall/return/{{order.order_id}}">申请退款</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>