<!--<h1 class="app-name">LobyHome</h1>-->

<div class="scrollable">
  <h1 class="scrollable-header app-name">乐比社区<br></h1>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item lobby-sidebar-item" href="#/activity">活动报名<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item lobby-sidebar-item" href="#/community">我家社区<i class="fa fa-chevron-right pull-right"></i></a>
      <!--<a class="list-group-item lobby-sidebar-item" href="#/reg">注册流程<i class="fa fa-chevron-right pull-right"></i></a>-->
      <a class="list-group-item lobby-sidebar-item" href="https://wap.koudaitong.com/v2/showcase/feature?alias=toqfp4ul&sf=wx_menu">惠民公益<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item lobby-sidebar-item" ng-click="logout()">清除缓存<i
              class="fa fa-chevron-right pull-right"></i></a>

    </div>
  </div>
</div>